<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>首页</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="./images/ETH.png" sizes="50x50">
    <link rel="stylesheet" href="./css/an.css">
</head>

<body style="background: url('./images/background.webp');">
    <div id="app">
        <div class="top">
            <el-row>
                <el-col :span="4">
                    <div class="grid-content "></div>
                </el-col>
                <el-col :span="16">
                    <div class="grid-content placedTop" style="background: url('./images/background.webp') no-repeat;">
                        <el-menu :default-active="activeIndex" class="el-menu-i" mode="horizontal"
                            @select="handleSelect">
                            <el-menu-item index="1">网站首页</el-menu-item>
                            <!-- <el-submenu index="2">
                                <template slot="title">技术栈</template>
                                <el-menu-item index="2-1">vue</el-menu-item>
                                <el-menu-item index="2-2">react</el-menu-item>
                                <el-menu-item index="2-3">uniapp</el-menu-item>
                                <el-menu-item index="2-4">Android</el-menu-item>
                            </el-submenu> -->
                            <el-menu-item index="3">资源下载</el-menu-item>
                            <el-menu-item index="4">文章</el-menu-item>
                            <el-menu-item index="9">动画专区</el-menu-item>
                            <!-- <el-menu-item index="5">小工具</el-menu-item> -->
                            <el-submenu index="5">
                                <template slot="title">技术栈</template>
                                <el-menu-item index="2-4" @click="go(1)">A-frame</el-menu-item>
                            </el-submenu>
                            <el-menu-item index="6">新闻资讯</el-menu-item>
                            <el-menu-item index="7">疫情专区</el-menu-item>
                            <el-menu-item index="8">联系我</el-menu-item>
                            <!-- <el-menu-item index="4"><a href="https://blog.csdn.net/m0_46361270?type=blog"
                                target="_blank">我的博客</a></el-menu-item> -->
                        </el-menu>
                    </div>
                </el-col>
                <el-col :span="4">
                    <div class="grid-content ">
                        <div class="weather" v-if="weatherData.type">
                            青岛市： {{weatherData.type || ''}} | {{weatherData.low ||''}} | {{weatherData.high || ''}}
                        </div>
                    </div>
                </el-col>
            </el-row>
            <div style="height: 30px;"></div>
            <el-row>
                <el-col :span="4">
                    <div class="grid-content "></div>
                </el-col>
                <el-col :span="16">
                    <div class="grid-content">
                        <template v-if="activeIndex==1">
                            <!-- <el-empty :image-size="200"></el-empty> -->
                            <div id="clock">
                                <p class="date">{{ date }}</p>
                                <p class="time">{{ dateTime }}</p>
                            </div>
                        </template>
                        <!-- 资源下载 -->
                        <template v-if="activeIndex==3">
                            <div id="page_source">
                                <el-row :gutter="12">
                                    <el-col :span="8" v-for="(item,index) in sourceList" :key="index">
                                        <el-card shadow="hover" style="margin-bottom: 20px;">
                                            <div class="link" @click="select(item.url)">
                                                <i class="el-icon-link"></i>
                                                {{item.title}}
                                            </div>
                                        </el-card>
                                    </el-col>
                                </el-row>
                            </div>
                        </template>
                        <template v-if="activeIndex==4">
                            <el-row :gutter="12">
                                <el-col :span="12" v-for="(item,index) in articleList" :key="index">
                                    <el-card shadow="hover" style="margin-bottom: 20px;">
                                        <div class="link" @click="select(item.url)">
                                            <i class="el-icon-link"></i>
                                            {{item.title}}
                                        </div>
                                    </el-card>
                                </el-col>
                            </el-row>
                            <!-- <div class="loading-title" v-if="!loading" @click="more">更多>></div> -->
                        </template>
                        <template v-if="activeIndex==5">
                            <el-row :gutter="12">
                                <el-col :span="4" v-for="(item,index) in toolList" :key="index">
                                    <el-card shadow="hover" style="margin-bottom: 20px;">
                                        <div class="link" @click="choose(item)">
                                            <!-- <i class="el-icon-link"></i> -->
                                            {{item.title}}
                                        </div>
                                    </el-card>
                                </el-col>
                                <el-empty v-if="toolList.length==0" :image-size="200"></el-empty>
                            </el-row>
                        </template>
                        <template v-if="activeIndex==6">
                            <el-row :gutter="12">
                                <el-col :span="12" v-for="(item,index) in newsList" :key="index">
                                    <el-card shadow="hover" style="margin-bottom: 20px;">
                                        <div class="link" @click="select(item.url)">
                                            <i class="el-icon-link"></i>
                                            {{item.title}}
                                        </div>
                                    </el-card>
                                </el-col>
                            </el-row>
                        </template>
                        <template v-if="activeIndex==7">
                            <el-row :gutter="12">
                                <el-alert :title="time" type="info"></el-alert>
                                <el-table :data="tableData" style="width: 100%">
                                    <el-table-column prop="province" label="省份" align="center"></el-table-column>
                                    <el-table-column prop="city" label="城市" align="center">
                                    </el-table-column>
                                    <el-table-column label="本土新增" align="center">
                                        <template slot-scope="scope">
                                            <p style="color:#F56C6C">{{scope.row.sure_new_cnt}}</p>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="sure_new_hid" align="center" label="无症状" sortable>
                                    </el-table-column>
                                    <el-table-column prop="present" align="center" label="现有确诊" sortable>
                                    </el-table-column>
                                </el-table>
                            </el-row>
                        </template>
                        <template v-if="activeIndex==8">
                            <el-row :gutter="20" v-for="(item,index) in 15" :key="index"></el-row>
                            <el-row :gutter="12">
                                <el-col :span="6" :offset="8">
                                    <el-card class="box-card">
                                        <div class="concat">
                                            <el-avatar src="./images/ETH.png">
                                            </el-avatar>
                                            <div class="li">
                                                Name：{{userInfo.name}}
                                            </div>
                                            <div class="li">
                                                QQ：{{userInfo.QQ}}
                                            </div>
                                            <div class="li">
                                                Email：{{userInfo.email}}
                                            </div>
                                        </div>
                                    </el-card>
                                </el-col>
                            </el-row>

                        </template>
                        <template v-if="activeIndex==9">
                            <el-row :gutter="12">
                                <div class="all">
                                    <div class="lk" @click="check(item,index)" :class="selectIndex==index ? an_type:''"
                                        :style="{background:index%2==0 ? '#FC797A':'#1F8DD6'}"
                                        v-for="(item,index) in dataList" :key="index">{{item.title}}</div>
                                </div>
                            </el-row>
                        </template>
                    </div>
                </el-col>
                <el-col :span="4">
                    <div class="grid-content"></div>
                </el-col>
            </el-row>
            <!-- <el-dialog :title="sourceData.title" :visible.sync="dialogVisible" width="30%">
                <div style="display: flex;">
                    <el-input v-model="content" placeholder="请输入"></el-input>
                    <el-button type="primary" @click="generate" icon="el-icon-search" style="margin-left: 10px;">生成
                    </el-button>
                </div>
                <img v-if="sourceData.images" :src="sourceData.images" alt="">
            </el-dialog> -->

        </div>
    </div>
    <script>
        function train(data) {
            // console.log(data);
        } 
    </script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.0-beta.5/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.9/index.js"></script>
    <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g6-3.7.1/dist/g6.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"></script>
    <script src="./js/jquery.js"></script>
    <script src="./js/index.js"></script>
    <script src="./js/hub.js"></script>
    <script src="./public/data.json?cb=train"></script>
    <script>
        //禁止查看代码
        document.oncontextmenu = new Function("event.returnValue=false;");
        document.onkeydown = function () {
            if (event.ctrlKey) return false;
        }
        document.addEventListener('keydown', function (event) {
            return !(
                123 == event.keyCode ||  //F12
                85 == event.keyCode ||
                83 == event.keyCode
            ) || (event.returnValue = false)
        });
    </script>

    <script>
        var plugin = new plugin();
        var week = ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'];
        new Vue({
            el: '#app',
            // components: {
            //     'source': 'url:./vue/source.vue'
            // },
            data() {
                return {
                    activeIndex: '1',
                    url: "./html/source.html",
                    sourceList: [],
                    count: 0,
                    page: 1,
                    articleList: [],
                    loading: false,
                    tableData: [],
                    time: "",
                    newsList: [],
                    dateTime: '',
                    date: '',
                    weatherData: {},
                    toolList: [
                        // { title: "二维码生成器", api: 'https://tenapi.cn/qr/?txt=' },
                        // { title: "图片生成器", api: 'https://tenapi.cn/bing/' },
                    ],
                    dialogVisible: false,
                    sourceData: {},
                    content: "",
                    userInfo: {},
                    an_type: "",
                    selectIndex: -1,
                }
            },
            methods: {
                updateTime() {
                    var cd = new Date();
                    this.dateTime = this.zeroPadding(cd.getHours(), 2) + ':' + this.zeroPadding(cd.getMinutes(), 2) + ':' + this.zeroPadding(cd.getSeconds(), 2);
                    this.date = this.zeroPadding(cd.getFullYear(), 4) + '-' + this.zeroPadding(cd.getMonth() + 1, 2) + '-' + this.zeroPadding(cd.getDate(), 2) + ' ' + week[cd.getDay()];
                },
                zeroPadding(num, digit) {
                    var zero = '';
                    for (var i = 0; i < digit; i++) {
                        zero += '0';
                    }
                    return (zero + num).slice(-digit);
                },
                select(url) {
                    window.location.href = url;
                },
                more() {
                    this.page++;
                    this.handleSelect(4);
                },
                choose(item) {
                    const _this = this;
                    _this.dialogVisible = true;
                    axios.get(
                        `${item.api}`
                    ).then(res => {

                    }).catch(err => {
                        _this.$message.error('请求失败');
                    })
                },
                go(type){
                    if(type===1){
                        window.location.href='webVR.html';
                    }
                },
                handleSelect(key) {
                    const _this = this;
                    if (_this.activeIndex == key) return;
                    _this.sourceList = [];
                    _this.articleList = [];
                    _this.tableData = [];
                    _this.newsList = [];
                    _this.activeIndex = key;
                    if (key == 3) {
                        const url = 'https://blog.csdn.net/community/home-api/v1/get-business-list?page=1&size=100&businessType=download&noMore=false&username=m0_46361270';
                        axios.get(url).then(res => {
                            if (res.data.code === 200) {
                                _this.sourceList = res.data.data.list;
                                _this.page = 1;
                            } else {
                                _this.$message({
                                    message: res.data.message,
                                    type: 'warning'
                                });
                            }
                        }).catch(err => {
                            _this.$message.error('请求失败');
                        })
                    } else if (key == 4) {
                        const url = `https://blog.csdn.net/community/home-api/v1/get-business-list?page=${_this.page}&size=200&businessType=blog&orderby=&noMore=false&year=&month=&username=m0_46361270`;
                        const url2 = `https://blog.csdn.net/community/home-api/v1/get-business-list?page=1&size=200&businessType=blog&orderby=&noMore=false&year=&month=&username=qq_38698632`;
                        if (_this.loading) return;
                        axios.get(url).then(res => {
                            if (res.data.code === 200) {
                                _this.articleList = _this.articleList.concat(res.data.data.list);
                                // if (res.data.data.list.length == 0) {
                                    axios.get(url2).then(res2 => {
                                        if (res2.data.code === 200) {
                                            _this.articleList = _this.articleList.concat(res2.data.data.list);
                                            if (res2.data.data.list.length < 200) _this.loading = true;
                                        } else {
                                            _this.$message({
                                                message: res2.data.message,
                                                type: 'warning'
                                            });
                                        }
                                    }).catch(err => {
                                        _this.$message.error('请求失败');
                                    })
                                // }
                            } else {
                                _this.$message({
                                    message: res.data.message,
                                    type: 'warning'
                                });
                            }
                        }).catch(err => {
                            _this.$message.error('请求失败');
                        })
                    } else if (key === '6') {
                        //新闻专区
                        const _this = this;
                        const url = 'https://i.news.qq.com/trpc.qqnews_web.kv_srv.kv_srv_http_proxy/list?sub_srv_id=world&srv_id=pc&offset=0&limit=20&strategy=1&ext={%22pool%22:[%22top%22],%22is_filter%22:10,%22check_type%22:true}';
                        axios.get(url).then(res => {
                            _this.newsList = res.data.data.list;
                        }).catch(err => {
                            _this.$message.error('请求失败');
                        })
                    }

                    else if (key === '7') {
                        //疫情专区
                        const _this = this;
                        const url = 'https://covid.myquark.cn/quark/covid/data?format=json&method=Huoshenshan.ncov2022&type=latest&news_type=ncp&is_gray=1&uc_param_str=dsdnfrpfbivesscpgimibtbmnijblaupogpintnwktprchmtut';
                        axios.get(url).then(res => {
                            _this.tableData = res.data.chinaTopCity;
                            _this.time = res.data.time;
                        }).catch(err => {
                            _this.$message.error('请求失败');
                        })
                    }
                    else {
                    }
                },
                //天气预报
                weather() {
                    const _this = this;
                    const url = 'https://tenapi.cn/wether/?city=青岛';
                    axios.get(url).then(res => {
                        _this.weatherData = res.data.data.forecast[0];
                    }).catch(err => {
                        // _this.$message.error('请求失败');
                    })
                },
                init() {
                    this.userInfo = plugin.userInfo().data;

                },
                check(item, index) {
                    this.selectIndex = index;
                    this.an_type = item.type;
                    setTimeout(() => {
                        this.an_type = '';
                        this.selectIndex = -1;
                    }, 1000);
                },
            },
            mounted() {
                var timerID = setInterval(this.updateTime, 1000);
                this.init();
                this.updateTime();
                this.weather();
            }
        })
    </script>
</body>

</html>