<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>首页</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="./images/ETH.png" sizes="50x50">
    <link rel="stylesheet" href="./css/an.css">
</head>

<body style="background: url('./images/background.webp');">
    <audio src="./public/思念滚烫.m4a" style="opacity: 0.01;"></audio>
    <div id="app">
        <div class="music">
            <img src="./images/music.png" @click="goPlay" class="music-img" alt="">
        </div>
        <div class="top">
            <div id="show">
                <el-row>
                    <el-col :span="4">
                        <div class="grid-content ">
                        </div>
                    </el-col>
                    <el-col :span="16">
                        <div class="grid-content placedTop"
                            style="background: url('./images/background.webp') no-repeat;">
                            <el-menu :default-active="activeIndex" class="el-menu-i" mode="horizontal"
                                @select="handleSelect">
                                <el-menu-item index="1">网站首页</el-menu-item>
                                <el-menu-item index="9" @click="go(10)">swiper</el-menu-item>
                                <el-menu-item index="3">资源下载</el-menu-item>
                                <el-menu-item index="4">文章</el-menu-item>
                                <!-- <el-menu-item index="9">动画专区</el-menu-item> -->
                                <!-- <el-menu-item index="5">小工具</el-menu-item> -->
                                <el-submenu index="5">
                                    <template slot="title">技术栈</template>
                                    <el-menu-item index="2-4" @click="go(1)">A-frame</el-menu-item>
                                    <el-menu-item index="2-4" @click="go(2)">安全问题</el-menu-item>
                                    <el-menu-item index="2-4" @click="go(3)">pyscript</el-menu-item>
                                    <el-menu-item index="2-4" @click="go(4)">正则表达式</el-menu-item>
                                    <el-menu-item index="2-4" @click="go(5)">特效大全</el-menu-item>
                                    <el-menu-item index="2-4" @click="go(6)">动画专区</el-menu-item>
                                    <el-menu-item index="2-4" @click="go(7)">threejs</el-menu-item>
                                    <el-menu-item index="2-4" @click="go(8)">javascript</el-menu-item>
                                </el-submenu>
                                <el-submenu index="99">
                                    <template slot="title">专区</template>
                                    <el-menu-item index="2-5" @click="goPRO(1)">音乐专区</el-menu-item>
                                    <el-menu-item index="2-5" @click="goPRO(2)">视频专区</el-menu-item>
                                    <el-menu-item index="2-5" @click="goPRO(3)">图片专区</el-menu-item>
                                    <el-menu-item index="2-5" @click="goPRO(4)">PDF预览</el-menu-item>
                                    <el-menu-item index="2-5" @click="goPRO(5)">vip视频链接解析</el-menu-item>
                                    <el-menu-item index="2-5" @click="goPRO(6)">潮点视频大全</el-menu-item>
                                    <el-menu-item index="2-5" @click="goPRO(7)">在线设计工具</el-menu-item>
                                    <el-menu-item index="2-5" @click="goPRO(8)">收藏夹</el-menu-item>
                                    <!-- <el-menu-item index="2-5" @click="goPRO(6)">网站模板下载</el-menu-item> -->
                                </el-submenu>
                                <el-menu-item index="6">新闻资讯</el-menu-item>
                                <el-menu-item index="7">疫情专区</el-menu-item>
                                <!-- <el-menu-item index="99">影视大全</el-menu-item> -->
                                <el-menu-item index="88">vip视频解析</el-menu-item>
                                <!-- <el-menu-item index="8">联系我</el-menu-item> -->
                                <!-- <el-menu-item index="4"><a href="https://blog.csdn.net/m0_46361270?type=blog"
                                target="_blank">我的博客</a></el-menu-item> -->
                            </el-menu>
                        </div>
                    </el-col>
                    <el-col :span="4">
                        <div class="grid-content ">
                            <div class="weather" v-if="weatherData.date">
                                青岛市：{{weatherData.tem2 ||''}}°C - {{weatherData.tem1 ||''}}°C | {{weatherData.wea ||
                                ''}}
                            </div>
                        </div>
                    </el-col>
                </el-row>
            </div>
            <div style="height: 30px;"></div>
            <el-row>
                <el-col :span="4">
                    <div class="grid-content "></div>
                </el-col>
                <el-col :span="16">
                    <div class="grid-content">
                        <template v-if="activeIndex==1">
                            <!-- <el-empty :image-size="200"></el-empty> -->
                            <div id="clock">
                                <p class="date">{{ date }}</p>
                                <p class="time">{{ dateTime }}</p>
                            </div>
                        </template>
                        <!-- 资源下载 -->
                        <template v-if="activeIndex==3">
                            <div id="page_source">
                                <el-row :gutter="12">
                                    <el-col :span="8" v-for="(item,index) in sourceList" :key="index">
                                        <el-card shadow="hover" style="margin-bottom: 20px;">
                                            <div class="link" @click="select(item.url)">
                                                <i class="el-icon-link"></i>
                                                {{item.title}}
                                            </div>
                                        </el-card>
                                    </el-col>
                                </el-row>
                            </div>
                        </template>
                        <template v-if="activeIndex==4">
                            <el-row :gutter="12">
                                <el-col :span="12" v-for="(item,index) in articleList" :key="index">
                                    <el-card shadow="hover" style="margin-bottom: 20px;">
                                        <div class="link" @click="select(item.url)">
                                            <i class="el-icon-link"></i>
                                            {{item.title}}
                                        </div>
                                    </el-card>
                                </el-col>
                            </el-row>
                            <!-- <div class="loading-title" v-if="!loading" @click="more">更多>></div> -->
                        </template>
                        <template v-if="activeIndex==5">
                            <el-row :gutter="12">
                                <el-col :span="4" v-for="(item,index) in toolList" :key="index">
                                    <el-card shadow="hover" style="margin-bottom: 20px;">
                                        <div class="link" @click="choose(item)">
                                            <!-- <i class="el-icon-link"></i> -->
                                            {{item.title}}
                                        </div>
                                    </el-card>
                                </el-col>
                                <el-empty v-if="toolList.length==0" :image-size="200"></el-empty>
                            </el-row>
                        </template>
                        <template v-if="activeIndex==6">
                            <el-row :gutter="12">
                                <el-col :span="12" v-for="(item,index) in newsList" :key="index">
                                    <el-card shadow="hover" style="margin-bottom: 20px;">
                                        <div class="link" @click="select(item.url)">
                                            <i class="el-icon-link"></i>
                                            {{item.title}}
                                        </div>
                                    </el-card>
                                </el-col>
                            </el-row>
                        </template>
                        <template v-if="activeIndex==7">
                            <el-row :gutter="12">
                                <el-alert :title="time" type="info"></el-alert>
                                <el-table :data="tableData" style="width: 100%">
                                    <el-table-column prop="province" label="省份" align="center"></el-table-column>
                                    <el-table-column prop="city" label="城市" align="center">
                                    </el-table-column>
                                    <el-table-column label="本土新增" align="center">
                                        <template slot-scope="scope">
                                            <p style="color:#F56C6C">{{scope.row.conadd_str}}</p>
                                        </template>
                                    </el-table-column>
                                    <!-- <el-table-column prop="sure_new_hid" align="center" label="无症状" sortable>
                                    </el-table-column> -->
                                    <el-table-column prop="econNum" align="center" label="现有确诊" sortable>
                                    </el-table-column>
                                </el-table>
                            </el-row>
                        </template>
                        <template v-if="activeIndex==8">
                            <el-row :gutter="20" v-for="(item,index) in 15" :key="index"></el-row>
                            <el-row :gutter="12">
                                <el-col :span="6" :offset="8">
                                    <el-card class="box-card">
                                        <div class="concat">
                                            <el-avatar src="./images/ETH.png">
                                            </el-avatar>
                                            <div class="li">
                                                Name：{{userInfo.name}}
                                            </div>
                                            <div class="li">
                                                QQ：{{userInfo.QQ}}
                                            </div>
                                            <div class="li">
                                                Email：{{userInfo.email}}
                                            </div>
                                        </div>
                                    </el-card>
                                </el-col>
                            </el-row>

                        </template>
                        <template v-if="activeIndex==9">
                            <el-row :gutter="12">
                                <div class="all">
                                    <div class="lk" @click="check(item,index)" :class="selectIndex==index ? an_type:''"
                                        :style="{background:index%2==0 ? '#FC797A':'#1F8DD6'}"
                                        v-for="(item,index) in dataList" :key="index">{{item.title}}</div>
                                </div>
                            </el-row>
                        </template>
                    </div>
                </el-col>
                <el-col :span="4">
                    <div class="grid-content"></div>
                </el-col>
            </el-row>
            <!-- <el-dialog :title="sourceData.title" :visible.sync="dialogVisible" width="30%">
                <div style="display: flex;">
                    <el-input v-model="content" placeholder="请输入"></el-input>
                    <el-button type="primary" @click="generate" icon="el-icon-search" style="margin-left: 10px;">生成
                    </el-button>
                </div>
                <img v-if="sourceData.images" :src="sourceData.images" alt="">
            </el-dialog> -->
        </div>
        <div class="xz">
            <!-- 外层最大容器 -->
            <div class="wrap">
                <!--包裹所有元素的容器-->
                <div class="cube">
                    <!--前面图片 -->
                    <div class="out_front">
                        <img src="./images/t1.png" class="pic">
                    </div>
                    <!--后面图片 -->
                    <div class="out_back">
                        <img src="./images/t2.png" class="pic">
                    </div>
                    <!--左面图片 -->
                    <div class="out_left">
                        <img src="./images/t3.png" class="pic">
                    </div>
                    <!--右面图片 -->
                    <div class="out_right">
                        <img src="./images/t4.png" class="pic">
                    </div>
                    <!--上面图片 -->
                    <div class="out_top">
                        <img src="./images/t5.png" class="pic">
                    </div>
                    <!--下面图片 -->
                    <div class="out_bottom">
                        <img src="./images/t5.png" class="pic">
                    </div>

                    <!--小正方体 -->
                    <span class="in_front">
                        <img src="./images/t6.png" class="in_pic">
                    </span>
                    <span class="in_back">
                        <img src="./images/t7.png" class="in_pic">
                    </span>
                    <span class="in_left">
                        <img src="./images/t8.png" class="in_pic">
                    </span>
                    <span class="in_right">
                        <img src="./images/t1.png" class="in_pic">
                    </span>
                    <span class="in_top">
                        <img src="./images/t2.png" class="in_pic">
                    </span>
                    <span class="in_bottom">
                        <img src="./images/t3.png" class="in_pic">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script>
        var dataSource = void 0;
        var YIQING = void 0;
        var TTIME = void 0;
        function train(data) {
            dataSource = data;
        }
        function callbacklocation(data) {
            YIQING = data.result.data;
        }
        function beijingChartData(data) {
            TTIME = data.data.times;
        }
        //动态加载css
        function loadStyles(url) {
            var link = document.createElement("link");
            link.rel = "stylesheet";
            link.type = "text/css";
            link.href = url;
            var head = document.getElementsByTagName("head")[0];
            head.appendChild(link);
        }
        //编程黑白网页
        function init() {
            var date = new Date().getTime();
            if (date < 1670346000000) {
                loadStyles('css/html.css')
            }
        }
        init();

    </script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.0-beta.5/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.9/index.js"></script>
    <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g6-3.7.1/dist/g6.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"></script>
    <script src="./js/jquery.js"></script>
    <script src="./js/index.js"></script>
    <script src="./js/hub.js"></script>
    <script src="./public/data.json?cb=train"></script>
    <script
        src="https://news.sina.com.cn/project/fymap/ncp2020_feiyan_procity_loc_data.jsonp?callback=callbacklocation"></script>
    <script
        src="https://gwpre.sina.cn/interface/news/ncp/data.d.json?mod=province&province=beijing&&callback=beijingChartData&_=1665196104970"></script>
    <script>

        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
        var network = getUrlParam('network');
        if (network != 123) {
            //禁止查看代码
            document.oncontextmenu = new Function("event.returnValue=false;");
            document.onkeydown = function () {
                if (event.ctrlKey) return false;
            }
            document.addEventListener('keydown', function (event) {
                return !(
                    123 == event.keyCode ||  //F12
                    85 == event.keyCode ||
                    83 == event.keyCode
                ) || (event.returnValue = false)
            });
        }

        //创建右键菜单
        var epMenu = {
            create: function (point, option) {
                var menuNode = document.getElementById('epMenu');
                if (!menuNode) {
                    //没有菜单节点的时候创建一个
                    menuNode = document.createElement("div");
                    menuNode.setAttribute('class', 'epMenu');
                    menuNode.setAttribute('id', 'epMenu');
                } else $(menuNode).html('');//清空里面的内容
                $(menuNode).css({ left: point.left + 'px', top: point.top + 'px' });
                for (var x in option) {
                    var tempNode = document.createElement("a");
                    $(tempNode).text(option[x]['name']).on('click', option[x].action);
                    menuNode.appendChild(tempNode);
                }
                $("body").append(menuNode);
            },
            destory: function () {
                $(".epMenu").remove();
            }
        };
        function setting() {
            //设置全屏
            var de = document.documentElement;
            if (de.requestFullscreen) {
                de.requestFullscreen();
            } else if (de.mozRequestFullScreen) {
                de.mozRequestFullScreen();
            } else if (de.webkitRequestFullScreen) {
                de.webkitRequestFullScreen();
            }
            epMenu.destory();
        }
        function hideSysMenu() {
            return false;
        }
        //监听右键
        document.onmousedown = function (e) {
            var menuNode = document.getElementById('epMenu');
            //监听点击事件(鼠标左键)
            if (e.button == 0) {
                setTimeout(() => {
                    epMenu.destory();
                }, 100);
            }
            if (e.button === 2) {
                document.oncontextmenu = hideSysMenu;//屏蔽鼠标右键
                var evt = window.event || arguments[0];
                var rightedge = evt.clientX;
                var bottomedge = evt.clientY;
                epMenu.create({ left: rightedge, top: bottomedge }, [{ name: '设置全屏', 'action': setting }]);
            }
        }
        function isFullscreen() {
            const screen = window.screen
            const body = document.body.getBoundingClientRect()
            return screen.height === body.height && screen.width === body.width
        }
        window.addEventListener('resize', function () {
            if (isFullscreen()) {
                document.getElementById('show').style = 'display:none';
            } else {
                document.getElementById('show').style = 'display:block';
            }

        })
        //波浪纹特效
        window.addEventListener('mousedown', function (e) {
            //执行函数，并传入鼠标位置
            box(e.clientX, e.clientY)

            setTimeout(function () {
                box(e.clientX, e.clientY)
            }, 250)

            setTimeout(function () {
                box(e.clientX, e.clientY)
            }, 500)

        })

        function box(left, top) {
            //初始化样式
            var box = document.createElement("div");
            box.style.width = '5px';
            box.style.height = '5px';
            box.style.borderRadius = '50%';
            box.style.border = 'rgb(94, 168, 252) 1px solid';
            box.style.position = 'fixed';
            box.style.top = top - 2.5 + 'px';          //减去元素的宽高，使元素中心位于鼠标点击位置
            box.style.left = left - 2.5 + 'px';
            box.style.opacity = 1;

            //向body添加元素
            document.body.appendChild(box);

            //创建定时器，使波纹一圈圈放大并降低透明度
            var timer = setInterval(function () {
                box.style.opacity = box.style.opacity - 0.05;
                box.style.width = parseInt(box.style.width) + 8 + 'px';
                box.style.height = parseInt(box.style.height) + 8 + 'px';
                box.style.left = parseInt(box.style.left) - 4 + 'px';
                box.style.top = parseInt(box.style.top) - 4 + 'px';

                if (box.style.opacity <= 0) {
                    clearInterval(timer);
                    box.parentNode.removeChild(box)
                }
            }, 50)
        }

    </script>

    <script>
        var audio = document.querySelector('audio')
        var plugin = new plugin();
        var week = ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'];
        new Vue({
            el: '#app',
            // components: {
            //     'source': 'url:./vue/source.vue'
            // },
            data() {
                return {
                    activeIndex: '1',
                    url: "./html/source.html",
                    sourceList: [],
                    count: 0,
                    page: 1,
                    articleList: [],
                    loading: false,
                    tableData: [],
                    time: "",
                    newsList: [],
                    dateTime: '',
                    date: '',
                    weatherData: {},
                    toolList: [
                        // { title: "二维码生成器", api: 'https://tenapi.cn/qr/?txt=' },
                        // { title: "图片生成器", api: 'https://tenapi.cn/bing/' },
                    ],
                    dialogVisible: false,
                    sourceData: {},
                    content: "",
                    userInfo: {},
                    an_type: "",
                    selectIndex: -1,
                    play: false,
                }
            },
            methods: {
                goPlay() {
                    if (this.play) {
                        audio.currentTime = 0;
                        audio.pause();
                        this.play = false;
                    } else {
                        audio.currentTime = 0;
                        audio.play();
                        this.play = true;
                    }
                },
                updateTime() {
                    var cd = new Date();
                    this.dateTime = this.zeroPadding(cd.getHours(), 2) + ':' + this.zeroPadding(cd.getMinutes(), 2) + ':' + this.zeroPadding(cd.getSeconds(), 2);
                    this.date = this.zeroPadding(cd.getFullYear(), 4) + '-' + this.zeroPadding(cd.getMonth() + 1, 2) + '-' + this.zeroPadding(cd.getDate(), 2) + ' ' + week[cd.getDay()];
                },
                zeroPadding(num, digit) {
                    var zero = '';
                    for (var i = 0; i < digit; i++) {
                        zero += '0';
                    }
                    return (zero + num).slice(-digit);
                },
                select(url) {
                    window.location.href = url;
                },
                more() {
                    this.page++;
                    this.handleSelect(4);
                },
                choose(item) {
                    const _this = this;
                    _this.dialogVisible = true;
                    axios.get(
                        `${item.api}`
                    ).then(res => {

                    }).catch(err => {
                        _this.$message.error('请求失败');
                    })
                },
                go(type) {
                    if (type === 1) {
                        window.location.href = 'webVR.html';
                    } else if (type === 2) {
                        // window.location.href=dataSource[0].security;
                        window.location.href = './html/safe.html';
                    } else if (type === 3) {
                        window.location.href = 'python.html';
                    } else if (type === 4) {
                        window.location.href = './html/regular.html';
                    } else if (type === 5) {
                        window.location.href = './html/special.html';
                    } else if (type === 6) {
                        this.activeIndex = '9';
                    } else if (type === 7) {
                        window.location.href = './3D/index.html';
                    } else if (type === 8) {
                        window.location.href = './script_html/index.html';
                    } else if (type === 10) {
                        window.location.href = './script_html/s_index.html';
                    }
                },
                goPRO(type) {
                    if (type === 1) {
                        window.location.href = './html/music.html';
                    } else if (type === 2) {
                        window.location.href = './html/video.html';
                    } else if (type === 3) {
                        window.location.href = './html/photo.html';
                    } else if (type === 4) {
                        window.location.href = './html/canvas.html';
                    } else if (type === 5) {
                        window.location.href = 'https://quanmin.iiilab.com';
                    } else if (type === 6) {
                        // window.location.href = './html/muban.html';
                        window.location.href = './html/chaodian.html';
                    } else if (type === 7) {
                        window.location.href = './designer/index.html';
                    } else if (type === 8) {
                        window.location.href = './html/collection.html';
                    }
                },
                handleSelect(key) {
                    const _this = this;
                    if (_this.activeIndex == key) return;
                    _this.sourceList = [];
                    _this.articleList = [];
                    _this.tableData = [];
                    _this.newsList = [];
                    _this.activeIndex = key;
                    if (key == 3) {
                        const url = 'https://blog.csdn.net/community/home-api/v1/get-business-list?page=1&size=100&businessType=download&noMore=false&username=m0_46361270';
                        axios.get(url).then(res => {
                            if (res.data.code === 200) {
                                _this.sourceList = res.data.data.list;
                                _this.page = 1;
                            } else {
                                _this.$message({
                                    message: res.data.message,
                                    type: 'warning'
                                });
                            }
                        }).catch(err => {
                            _this.$message.error('请求失败');
                        })
                    } else if (key == 4) {
                        const url = `https://blog.csdn.net/community/home-api/v1/get-business-list?page=${_this.page}&size=200&businessType=blog&orderby=&noMore=false&year=&month=&username=m0_46361270`;
                        const url2 = `https://blog.csdn.net/community/home-api/v1/get-business-list?page=1&size=200&businessType=blog&orderby=&noMore=false&year=&month=&username=qq_38698632`;
                        if (_this.loading) return;
                        axios.get(url).then(res => {
                            if (res.data.code === 200) {
                                _this.articleList = _this.articleList.concat(res.data.data.list);
                                // if (res.data.data.list.length == 0) {
                                axios.get(url2).then(res2 => {
                                    if (res2.data.code === 200) {
                                        _this.articleList = _this.articleList.concat(res2.data.data.list);
                                        if (res2.data.data.list.length < 200) _this.loading = true;
                                    } else {
                                        _this.$message({
                                            message: res2.data.message,
                                            type: 'warning'
                                        });
                                    }
                                }).catch(err => {
                                    _this.$message.error('请求失败');
                                })
                                // }
                            } else {
                                _this.$message({
                                    message: res.data.message,
                                    type: 'warning'
                                });
                            }
                        }).catch(err => {
                            _this.$message.error('请求失败');
                        })
                    } else if (key === '6') {
                        //新闻专区
                        const _this = this;
                        const url = 'https://i.news.qq.com/trpc.qqnews_web.kv_srv.kv_srv_http_proxy/list?sub_srv_id=world&srv_id=pc&offset=0&limit=20&strategy=1&ext={%22pool%22:[%22top%22],%22is_filter%22:10,%22check_type%22:true}';
                        axios.get(url).then(res => {
                            _this.newsList = res.data.data.list;
                        }).catch(err => {
                            _this.$message.error('请求失败');
                        })
                    }

                    else if (key === '7') {
                        //疫情专区
                        // const _this = this;
                        // const url = 'https://covid.myquark.cn/quark/covid/data?format=json&method=Huoshenshan.ncov2022&type=latest&news_type=ncp&is_gray=1&uc_param_str=dsdnfrpfbivesscpgimibtbmnijblaupogpintnwktprchmtut';
                        // axios.get(url).then(res => {
                        //     _this.tableData = res.data.chinaTopCity;
                        //     _this.time = res.data.time;
                        // }).catch(err => {
                        //     _this.$message.error('请求失败');
                        // })
                        _this.tableData = YIQING ?? [];
                        _this.time = TTIME || '最近时间~'
                    } else if (key === '99') {
                        //影视大全
                        // window.location.href='./html/film.html';
                        window.location.href = 'http://www.dahua.cc';
                    } else if (key === '88') {
                        //视频解析
                        window.location.href = './html/vip.html';
                    }
                    else {
                    }
                },
                //天气预报
                weather() {
                    const _this = this;
                    const url = 'https://v0.yiketianqi.com/api?unescape=1&version=v91&appid=43656176&appsecret=I42og6Lm';
                    axios.get(url).then(res => {
                        _this.weatherData = res.data.data[0];

                    }).catch(err => {
                        // _this.$message.error('请求失败');
                    })
                },
                init() {
                    this.userInfo = plugin.userInfo().data;
                },
                check(item, index) {
                    this.selectIndex = index;
                    this.an_type = item.type;
                    setTimeout(() => {
                        this.an_type = '';
                        this.selectIndex = -1;
                    }, 1000);
                },
            },
            mounted() {
                var timerID = setInterval(this.updateTime, 1000);
                this.init();
                this.updateTime();
                this.weather();
                // axios.get('https://api.github.com/users/zxtss/repos').then(res => {
                //     let data = [];
                //     for (var i in res.data) {
                //         if (res.data[i].name == 'public_music') {
                //             data = res.data[i].description.split(',')
                //         }
                //     }
                //     this.musicList=data;

                // }).catch(err => {
                // })
            }
        })
    </script>
</body>

</html>